@model MVCCitybike.Models.BiketripsMay2021

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BiketripsMay2021</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Return)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Return)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departure_station_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departure_station_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departure_station_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departure_station_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Return_station_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Return_station_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Return_station_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Return_station_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Covered_distance_m)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Covered_distance_m)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration_sec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration_sec)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
