
@model PaginatedList<MVCCitybike.Models.BiketripsMay2021>


@{
    ViewData["Title"] = "Index";
}

<h1>Index of Biketrips</h1>

<p>
    <a asp-action="Create">Luo uusi matka</a>
</p>

<section class="d-flex justify-content-evenly mb-2">

    <article>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color input-group mb-3">

                <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Etsi aseman mukaan..">
                <button type="submit" class="btn btn-outline-primary" id="button-addon2">Etsi</button>
                <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-action="Index">Takaisin listaan</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-action="Create">Luo uusi matka</a></li>

                </ul>

            </div>
        </form>
    </article>

    <article id="infobox" class="alert alert-info d-inline-flex p-2">
        Data ladattu ja päivitetty onnistuneesti!
    </article>
</section>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    Lähtö
                    <i class="fas fa-arrow-down"></i>
                    <i class="fas fa-arrow-up"></i>

                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParmReturn"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    Palautus
                    <i class="fas fa-arrow-down"></i>
                    <i class="fas fa-arrow-up"></i>

                </a>
            </th>
            <th>
                Lähtöasema ID
            </th>
            <th>
                Lähtöasema nimi
            </th>
            <th>
                Palautusasema ID
            </th>
            <th>
                Palautusasema nimi
            </th>
            <th>
                Matka (m)
            </th>
            <th>
                Kesto (sec)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Return)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure_station_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure_station_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Return_station_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Return_station_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Covered_distance_m)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration_sec)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-sm btn-outline-info @prevDisabled">
        <i class="fas fa-arrow-left"></i>
        Edellinen
    </a>

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-sm btn-outline-info @nextDisabled">
        Seuraava <i class="fas fa-arrow-right"></i>

    </a>
   

