@model MVCCitybike.Models.Station

@{
    ViewData["Title"] = "Delete";
}

<h1>Poista</h1>

<h3>Oletko varma että haluat poistaa kohteen?</h3>
<div>
    <h4>Station</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Namn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Namn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Osoite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Osoite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kaupunki)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kaupunki)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operaattor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operaattor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kapasiteet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kapasiteet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.x)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.x)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.y)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.y)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Poista" class="btn btn-outline-danger" /> |
        <a asp-action="Index">Takaisin listaan</a>
    </form>
</div>
