@model MVCCitybike.Models.StationCityViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index of Stations</h1>

<p>
    <a asp-action="Create">
        Luo uusi
    </a>
</p>

<section class="d-flex justify-content-evenly mb-2">


    <article>
        <form asp-controller="Station" asp-action="Index" method="get">
            <p>
                <div class="input-group mb-3">
                    <select class="form-select form-select-l" asp-for="StationKaupunki" asp-items="Model.Kaupungit">
                        <option value="">Kaupunki</option>
                    </select>

                    <!--
                    Nimi: <input type="text" name="SearchItem" />
                    <input class="btn btn-primary" type="submit" value="Etsi" />
                        -->

                    <input type="text" class="form-control" name="SearchItem" placeholder="Aseman nimi..">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Etsi</button>
                </div>



            </p>
        </form>
    </article>

    <article id="infobox" class="alert alert-info d-inline-flex p-2">
        Data ladattu ja päivitetty onnistuneesti!
    </article>

</section>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stations![0].FID)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">
                    Aseman nimi
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stations![0].Osoite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stations![0].Kaupunki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stations![0].Operaattor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stations![0].Kapasiteet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stations![0].x) (LNG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stations![0].y) (LAT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Stations!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Osoite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kaupunki)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operaattor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kapasiteet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.x)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.y)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Muokkaa</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Lisätiedot</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Poista</a>
                </td>
            </tr>
        }
    </tbody>
</table>
