@model IEnumerable<MVCCitybike.Models.Station>

@{
    ViewData["Title"] = "Index";
}

<h1>Index of Stations</h1>

<p>
    <a asp-action="Create">Luo uusi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Osoite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kaupunki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operaattor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kapasiteet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.x) (LNG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.y) (LAT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osoite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kaupunki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operaattor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kapasiteet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.x)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.y)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Muokkaa</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Lisätiedot</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Poista</a>
            </td>
        </tr>
}
    </tbody>
</table>
